.brdr {
    border: 2px solid black;
    border-radius: 20px;
}

.advOpt {
    background-color: darkgray;
    color: darkslategray; 
    border-bottom-left-radius: 17px; 
    border-bottom-right-radius: 17px;
    text-align: center;
    font-size: 1.5em;
    border: 3px solid black;
    cursor: pointer;
    transition: height 500ms;
}

.advOpt:hover {
    background-color: yellow;
}

.yAdv {
    display: none;
    overflow: hidden;
    transition: 500ms;
}

.oAdv {
    display: none;
}

#yPNameErr, #oPNameErr, #oLvlErr, #yLvlErr {
    color: red;
}

#yT2Stat {
    display: none;
}

#oT2Stat {
    display: none;
}

td, input, button, select {
    font-size: 1.2em;
}

th{
    font-size: 1.2em;
}

#yBall, #oBall, #dBall{
    height: 35px;
    width: 35px;
    animation: spin 2s linear infinite;
    display: none;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

button{
    display: block;
    margin: auto;
    width: 80%;
    height: 2em;
}

#bdy {
    animation: clr 60s cubic-bezier(0,1,1,0) 0s infinite forwards;
}

@keyframes clr {
    6%  {background-color: #A8A878}
    12%  {background-color: #C03028}
    18% {background-color: #A890F0}
    24% {background-color: #A040A0}
    30% {background-color: #E0C068}
    36% {background-color: #B8A038}
    42% {background-color: #A8B820}
    48% {background-color: #705898}
    54% {background-color: #B8B8D0}
    60% {background-color: #F08030}
    66% {background-color: #6890F0}
    72% {background-color: #78C850}
    78% {background-color: #F8D030}
    84% {background-color: #F85888}
    90% {background-color: #98D8D8}
    96% {background-color: #7038F8}
    98% {background-color: #705848}
    100% {background-color: #EE99AC}
}

.graph {
    background-color: red;
    height: 10px;
    width: 0px;
    transition: 2s;
    transition-delay: 2s;
}

#yInput {
    position: unset;
}

#yStats {
    display: none;
    animation-name: yStats;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: forwards;
    animation-play-state: paused;
    backface-visibility: hidden;
}

@keyframes yStats {
    0%  {transform: rotateY(180deg)}
    100% {transform: rotateY(0deg)}
}

#oInput {
    display: none;
    animation-name: oInput;
    animation-duration: 2s;
    animation-delay: 4s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-play-state: paused;
    backface-visibility: hidden;
    animation-fill-mode: forwards;
    transform: rotateY(180deg);
}

@keyframes oInput {
    0%  {transform: rotateY(180deg)}
    100% {transform: rotateY(0deg)}
}

#oStats {
    display: none;
    animation-name: oStats;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: forwards;
    animation-play-state: paused;
    backface-visibility: hidden;
}

@keyframes oStats {
    0%  {transform: rotateY(180deg)}
    100% {transform: rotateY(0deg)}
}

#moveAndFactors {
    display: none;
    animation-name: moveAndFactors;
    animation-duration: 2s;
    animation-delay: 4s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: forwards;
    animation-play-state: paused;
    backface-visibility: hidden;
    animation-fill-mode: forwards;
    transform: rotateY(180deg);
}

@keyframes moveAndFactors {
    0%  {transform: rotateY(180deg)}
    100% {transform: rotateY(0deg)}
}

#outcome {
    display: none;
    animation-name: outcome;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: forwards;
    animation-play-state: paused;
    backface-visibility: hidden;
}

@keyframes outcome {
    0%  {transform: rotateY(180deg)}
    100% {transform: rotateY(0deg)}
}