.brdr {
    border: 2px solid black;
    border-radius: 20px;
}

.advOpt {
    background-color: darkgray;
    color: darkslategray; 
    border-bottom-left-radius: 17px; 
    border-bottom-right-radius: 17px;
    text-align: center;
    font-size: 1.5em;
    border: 3px solid black;
    cursor: pointer;
    transition: 500ms;
}

.advOpt:hover {
    background-color: yellow;
}

.yAdv {
    display: none;
    transition: 500ms;
}

#yAdv {
    display: none;
}

.oAdv {
    display: none;
}

#yPNameErr, #oPNameErr {
    color: red;
}

#yT2Stat {
    display: none;
}

#oT2Stat {
    display: none;
}

td, input {
    font-size: 1.2em;
}

th {
    font-size: 1.5em;
}