.brdr {
    border: 2px solid black;
    border-radius: 20px;
}

.advOpt {
    background-color: darkgray;
    color: darkslategray; 
    border-bottom-left-radius: 17px; 
    border-bottom-right-radius: 17px;
    text-align: center;
    font-size: 1.5em;
    border: 3px solid black;
    cursor: pointer;
    transition: 500ms;
}

.advOpt:hover {
    background-color: yellow;
}

.yAdv {
    display: none;
    transition: 500ms;
}

#yAdv {
    display: none;
}

.oAdv {
    display: none;
}

#yPNameErr, #oPNameErr, #oLvlErr, #yLvlErr {
    color: red;
}

#yT2Stat {
    display: none;
}

#oT2Stat {
    display: none;
}

td, input, button, select {
    font-size: 1.2em;
}

th{
    font-size: 1.2em;
}

#yBall, #oBall, #dBall{
    height: 35px;
    width: 35px;
    animation: spin 2s linear infinite;
    display: none;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

button{
    display: block;
    margin: auto;
    width: 80%;
    height: 2em;
}