body {
    background-color: #388c71
}

.grid-container {
    display: grid;
    grid-template-columns: 15% 85%;
}

#left-pane {
    grid-column: 1;
}

#criteria {
    grid-row: 1;
    grid-column: 1 / span 2;
}

#all-audience, #all-genre {
    float: left;
}

#right-pane {
    grid-column: 2;
    display: grid;
    grid-template-rows: 15% 85%;
}

#sorting {
    display: grid;
    grid-row: 1;
    grid-template-columns: 50% 50%;
}

#num-results-div {
    grid-column: 1;
    padding-left: 10%;
}

#num-results-div > p {
    margin-top: 0px;
}

#sort-by-div {
    grid-column: 2;
}

#sort-by-div > select{
}

#results {
    grid-row: 2;
}

img {
    width: 100%;
}