body {
    border: 3em solid rgb(80, 80, 80);
    font-family: fantasy;
    text-align: center;
    background-color: rgb(128, 128, 128)
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
}

.grid-container4 {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;
}

.grid-container5 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 5px;
}

img {
    height: 8em;
    width: 8em;
    margin-left: auto;
	margin-right: auto;
	display: block;
}

#title > a {
    font-size: 7em;
    color: whitesmoke
}

#banner {
    background-color: rgb(80, 80, 80)
}

#TMs {
    font-size: 3em;
    background-color: blue;
}

#TMpic {
    width: 6em;
    height: 3em;
}

#balls {
    font-size: 3em;
    background-color: yellow;
}

#pbpic {
    width: 3em;
    height: 3em;
    padding-bottom: 10px;
}

#cart {
    font-size: 3em;
    background-color: red;    
}

#backpackpic {
    width: 3em;
    height: 3em;
}

#TM1 {
    background-color: green;
}

#TM2 {
    background-color: red;
}

#TM3 {
    background-color: blue;
}

#TM4 {
    background-color: yellow;
}

input {
    padding: 3px;
    size: 3;
    width: 3.25em;
}

#ball1 {
    background-color: #cd7f32;
}

#ball2 {
    background-color: silver;
}

#ball3 {
    background-color: gold;
}

#ball4 {
    background-color: #e5e4e2;
}